html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* начало */

body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #F3F5F9;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #333333;
}

.wraper {
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: space-between;
    position: relative;
}

/* Contacts section************************ */
.contacts-section {
    position: absolute;
    top: 35px;
    right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.telegram-icon,
.viber-icon,
.phone-icon {
    width: 18px;
    width: 18px;
}

.telegram-icon,
.viber-icon {
    margin-right: 15px;
}

.phone-icon {
    margin-right: 15px;
}

.phone-link-number {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;

}

/* experience section********************** */
.experience-section {
    width: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.My-photo {
    margin-bottom: 20px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.icon {
    width: 18px;
    height: 18px;
}

.linkedin-icon {
    margin-right: 15px;

}

.experience-description {
    margin-top: 35px;
    margin-bottom: 35px;
}

.experience-description-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.experience-description-text-first {
    margin: 8px;
}

.technogies-conteiner {
    margin-bottom: 50px;
}

.js-icon,
.react-icon {
    margin-right: 15px;
}

.my-projects-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #EB5757;

}

/**my info section****************************/
.my-info-section {
    width: 33%;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my-profession {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 35px;
}

.my-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 30px;
}

.my-location,
.my-workstyle {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2F80ED;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-workstyle {
    margin-bottom: 100px;
}

.my-description {
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 15px;
}

.my-skills-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.my-skills-list {
    list-style: disc;
    padding-left: 18px;
}

.my-skills-item {
    font-size: 16px;
    line-height: 24px;
    color: #2F80ED;
}

.my-skills-text {
    color: #4F4F4F;
}

/**Project price**********************************/

.project-price-section {
    width: 33%;
}

.project-price-form {
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.project-price-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2F80ED;
    margin-bottom: 50px;
}

.project-type-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.project-price-form-field-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 15px;
}

.project-price-select {
    width: 100%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    border: none;
    outline: none;
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 8px;
}

.activity-type-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.activity-type-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.activity-type-title {
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-left: 20px;
}

.activity-type-checkbox {
    width: 18px;
    height: 18px;
}

.project-price-sum {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.project-price-sum-currency {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2F80ED;
}

.project-price-container {
    margin-bottom: 30px;
}

.project-price-calculate-btn-container {
    width: 100%;
    text-align: center;
}

.project-price-calculate-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2F80ED;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 12px 32px;
    cursor: pointer;
}

/*Modal section **************************/
.modal-bgd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(51 51 51 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3c ease-in-out;
}

.modal-active {
    pointer-events: all;
    opacity: 1;
}

.modal-container {
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 110px 40px;
    width: 364px;
    height: 604px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.modal-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2F80ED;
    margin-bottom: 40px;
}

.user-email-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    width: 100%;
}

.modal-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-email {
    width: 100%;
    font-family: 'Montserrat',
        sans-serif;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #4F4F4F;
}

.email-input-container {
    margin-bottom: 115px;
    height: 115px;
}

.email-error-text {
    color: #EB5757;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    display: none;
}

.email-input-container-error .email-error-text {
    display: block;
}

.email-input-container-error .user-email {
    border-bottom: 1px solid #EB5757;
}

.modal-submit-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2F80ED;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 12px 32px;
    cursor: pointer;
}

.modal-icon {
    margin-bottom: 35px;
}

.modal-close-btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}


.modal-success-message {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2F80ED;
}

.modal-container-success {
    justify-content: center;
}

.modal-success-icon {
    margin-bottom: 35px;
}




